.header {
  width: 100%;
  position: fixed;
  z-index: 3;
  padding: 0 1rem 1rem;
  background: rgba(248, 251, 252, 0.8);
  box-shadow: 0 0 .8rem .5rem rgba(108, 129, 138, 0.2);
  &__nav {
    display: flex;
    justify-content: space-between;
    max-width: 820px;
    margin: 0 auto;
    padding: 0 2rem;
  }
  .logo {
    width: 50px;
    position: relative;
    top: 8px;
    &__item {
      width: 100%;
      position: relative;
    }
    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 48px;
      height: 48px;
      display: block;
      transform: scale(0.8);
      border-radius: 50%;
      background: rgba(243, 156, 74, 0.6);
      box-shadow: 0 0 .8rem .5rem rgba(243, 156, 74, 0.4);
    }
  }
  .menu {
    padding-top: 1rem;
    padding-left: 6rem;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    font-family: 'Ubuntu', sans-serif;
    
    &__item {
      margin-right: 2rem;
      &:last-child {
        margin-right: 0;
      }
    }

    &__link {
      display: inline-block;
      padding: .5rem 1rem;
      color: #292a2c;
      background-color: #edf3fa;
      box-shadow: 0 0 .6rem .5rem rgba(204, 215, 224, .5);
      border-radius: .5rem;
      transition-duration: .5s;
      transition-property: transform, background-color, box-shadow;
      &:hover {
        background-color: rgba(200, 194, 209, 0.6);
        box-shadow: 0 0 .6rem .5rem rgba(212, 204, 224, 0.5);
        text-decoration: none;
        transform: scale(1.1);
      }
    }
  }
  .sns {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    padding-top: .8rem;
    font-size: 2rem;
    &__item {
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
    }
    &__link {
      color: #36424e;
      transition-duration: .5s;
      transition-property: color, box-shadow;
      &:hover {
        color: #056070;
      }
    }
  }
}
