.main {
  width: 100%;
  padding-top: 10.2rem;
  padding-bottom: 4rem;
  position: relative;
  z-index: 2;
}

@media (max-width: 375px) {
  .main {
    padding-top: 8.8rem;
  }
}

.profile {
  max-width: 1040px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;

  &__image {
    width: 30rem;
    height: auto;
    margin-right: 3rem;
    
    &Item {
      width: 100%;
      border-radius: 2rem;
      box-shadow: 0 0 .6rem .5rem rgba(204, 215, 224, .5);
    }
  }

  &__desc {
    padding-top: 1rem;
  }

  &__role {
    font-size: .9rem;
  }

  &__name {
    font-family: 'Audiowide', cursive;
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 375px) {
  .profile {
    // padding: 2rem;
    display: block;
    margin-bottom: 3rem;
    &__image {
      width: 80%;
      margin: 0 auto;
    }
  }
}

.contents {
  #skill,
  #work {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__section {
    margin-bottom: 6rem;
  }

  &__title {
    font-family: 'Audiowide', cursive;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 4rem;

    &--about {
      text-shadow: 0 0 2.5rem #fb9136;
    }

    &--skill {
      text-shadow: 0 0 2.5rem #9c36fb;
    }

    &--work {
      text-shadow: 0 0 2.5rem #36fb46;
    }
  }
}

@media (max-width: 375px) {
  .contents {
    &__section {
      margin-bottom: 4.5rem;
    }
  }
}

.about {
  &__card {
    margin-bottom: 4rem;
    padding: 4rem 2rem;
    position: relative;
    min-height: 500px;
    display: flex;
    align-items: center;
    color: rgb(255, 239, 228);
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      margin: auto;
      background-color: rgba(75, 65, 53, 0.7);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    &--illust {
      background: url(../image/about_01.png) no-repeat center;
      background-size: cover;
    }
    &--game {
      background: url(../image/about_02.png) no-repeat center;
      background-size: cover;
    }
  }
  &__cardInner {
    max-width: 750px;
    margin: 0 auto;
    position: relative;
  }
  &__subtitle {
    font-family: 'Audiowide', cursive;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  &__text {
    line-height: 1.8;
  }
}

@media (max-width: 800px) {
  .about {
    &__card {
      min-height: 250px;
    }
  }
}

.skill {
  &__subtitle {
    font-family: 'Audiowide', cursive;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  &__card {
    padding: 0 2rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
  }
  &__cardItem {
    width: 46%;
    border-radius: 2rem;
    box-shadow: 0 0 .4rem .5rem rgba(209, 198, 218, 0.5) inset;
    padding: 2rem;
  }
  &__desc {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 800px) {
  .skill {
    &__card {
      display: block;
    }
    &__cardItem {
      width: 100%;
      margin-bottom: 2rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.work {
  &__card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    padding: 0 2rem;
  }
  &__pic {
    width: 50%;
    &Item {
      width: 100%;
      box-shadow: 0 0 .6rem .5rem rgba(192, 206, 191, 0.5);
    }
  }
  &__text {
    width: 42%;
    padding-top: 1rem;
  }
  &__textCard {
    padding: 1rem 2rem 0;
    &Item {
      margin-bottom: .5rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__title {
    margin-bottom: 1rem;
  }
}

@media (max-width: 800px) {
  .work {
    &__card {
      display: block;
      margin-bottom: 2rem;
    }
    &__pic {
      width: 100%;
      margin-bottom: .5rem;
    }
    &__text {
      width: 100%;
      margin-bottom: 4rem;
    }
  }
}
